<?xml version="1.0" encoding="utf-8" ?>
<BridgeConfig>
	<IRCServer>
		<ServerHost>192.168.1.8</ServerHost>
		<ServerPort>7001</ServerPort>
		<ServerPassword>GoldenRetriever</ServerPassword>
		<ServerIdentifier>00C</ServerIdentifier>
	</IRCServer>
	<DiscordServer>
		<Token>Token Goes Here</Token>
		<ChannelMapping>
			<Channel>
				<IRC>#Top</IRC>
				<Discord>294593199710797824</Discord>
			</Channel>
			<Channel>
				<IRC>#politics</IRC>
				<Discord>#politics</Discord>
			</Channel>
		</ChannelMapping>
	</DiscordServer>
</BridgeConfig>